footer.footer#contacto
    .footer__row.footer__row--top
        .footer__column
            .footer__logo
                img(src="/images/logo.png")
            .footer__map
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.5934262128653!2d-70.56660008480175!3d-33.40776988078615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cedd1d330ced%3A0xe87ea283f5493a98!2sAv.+Apoquindo+6410%2C+Las+Condes%2C+Regi%C3%B3n+Metropolitana%2C+Chile!5e0!3m2!1ses-419!2sar!4v1549036749676" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
        .footer__column
            .footer__group
                i.fa.fa-envelope-o
                p.footer__text contacto@trasladosapoquindo.cl
            .footer__group
                i.fa.fa-phone
                p.footer__text +56 9 5242 8350
            .footer__group
                i.fa.fa-map-marker
                p.footer__text
                    |Avenida Apoquindo 6410, Oficina 212, Las Condes
                    br
                    |Santiago de Chile, RM
            form.footer__form
                input.footer__input(placeholder="Nombre y Apellido" type="text")
                input.footer__input(placeholder="Email" type="email")
                textarea.footer__input.footer__input--textarea(placeholder="Mensaje")
                button.footer__button enviar
        .footer__column
            h3.footer__title Servicios
            .footer__block
                p.footer__block-text Traslados turísticos
                a.footer__block-text(href="/traslados-turisticos") Reservar
            .footer__block
                p.footer__block-text Traslados corporativos
                a.footer__block-text(href="/traslados/corporativos") Reservar
            .footer__block
                p.footer__block-text Traslados ejecutivos
                a.footer__block-text(href="/traslados/ejecutivos") Reservar
            .footer__block
                p.footer__block-text Traslados al aeropuerto
                a.footer__block-text(href="/traslados/al-aeropuerto") Reservar
            .footer__pago
                p medios de pago
                img(src="/images/payments.png")
            .footer__wrapper
                a(href="#") términos y condiciones
                a(href="#") políticas de privacidad
    .footer__row.footer__row--bottom
        p.footer__comment 
            |traslados Apoquindo 2019. 
            br
            |Todos los derechos reservados
        .footer__uininja
            p.footer__ui-text diseño y desarrollo por
            .footer__uininja-logo
                img(src="/images/ui-ninja-logo.png")
