a._button,
button._button,
._button {
    background: $link;
    color: $white;
    display: inline-block;
    font-family: $altFont;
    font-weight: 700;
    text-align: center;
    transition: all $duration $easingLight;
    outline: none;
    padding: 10px;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active{
        text-decoration: none;
        color: $blue;
        outline: none;
        background: $link - #333;
    }

    &--green {
        background: $green;

        &:hover,
        &:focus,
        &:active {
            background: $green - #333;
            color: $white;
        }
    }

    &--light-ghost {
        background: transparent;
        color: $white;

        &:hover,
        &:focus,
        &:active {
            background: transparent;
            color: $white - #333;
        }
    }

    &--dark-ghost {
        background: transparent;
        color: $darkGray;

        &:hover,
        &:focus,
        &:active {
            background: transparent;
            color: $darkGray - #333;
        }

    }

    // &.-white {
    //     background: $white;
    //     color: $black;
    //
    //     &:hover{
    //         color: $mainColor;
    //         background: $white;
    //         padding: 0 40px;
    //     }
    // }
    //
    // &.-cta{
    //     color:$white;
    //     padding: 0 25px;
    //     height: 70px;
    //     letter-spacing: 1px;
    //     line-height: 70px;
    //     font-family: $mainFont;
    //
    //     &:hover{
    //         background: $mainColor;
    //         padding: 0 40px;
    //     }
    // }
    //
    // &.-large {
    //     height: $base*1.5;
    //     line-height: $base*1.5;
    //     font-size: 24px;
    // }
    //
    // &.-small {
    //     height: $base*0.75;
    //     line-height: $base*0.75;
    // }
    //
    // &.-black {
    //     color:$white;
    //     background: $black;
    //
    //     &:hover{
    //         color: $mainColor;
    //         background: $black;
    //         padding: 0 60px;
    //     }
    // }
}

button._button{
    border: none;
}
