.servicios {
    &__hero {
        padding-top: 10vh;
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        height: 80vh;

        @include mq(sm) {
            height: 100vh;
        }
    }

    &__background {
        height: 100%;
        overflow: hidden;
        width: 100vw;

        img {
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            height: 100%;

            @include mq(sm) {
                width: 100%;
                height: auto;
            }
        }
    }

    &__content {
        position: absolute;
        top: calc(50% + 5vh);
        left: 50%;
        transform: translate3d(-50%, -50%, 0);

        @include mq(sm) {
            width: 80%;
        }
    }

    &__title {
        text-transform: uppercase;
        color: $white;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 700;

        @include mq(sm) {
            font-size: 80px;
        }
    }

    &__descripcion {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__servicio {
            position: relative;
            margin-bottom: 10px;
            padding: 20px;

            @include mq(sm) {
                padding: 40px;
                width: calc(50% - 5px);
                height: 30vw;

            }
        }

        &__background {
            position: absolute;
            background: $black;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: -1;

            img {
                width: auto;
                min-width: 100%;
                height: 100%;
                opacity: .5;
            }
        }

        &__group {
            width: 100%;
            height: 100%;
            // display: flex;
            // justify-content: center;
            // flex-direction: column;
        }

        &__title {
            font-weight: 900;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            font-size: 32px;

            @include mq(sm) {
                width: 50%;
                text-align: left;
            }

            &--right {
                @include mq(sm) {
                    text-align: right;
                    margin-left: auto;
                }
            }
        }

        &__text {
            color: $white;
            text-align: center;

            @include mq(sm) {
                width: 50%;
                text-align: left;
            }

            &--right {
                @include mq(sm) {
                    text-align: right;
                    margin-left: auto;
                }
            }
        }

        &__wrapper {
            display: flex;
            margin-top: 40px;
            justify-content: space-between;

            @include mq(sm) {
                position: absolute;
                bottom: 40px;
                left: 40px;
                right: 40px;
                margin-top: 0;
            }
        }

        &__link {
            width: 45%;
            font-size: 14px;
            text-transform: uppercase;
            color: $white;
            padding: 10px 0;
            font-weight: 700;

            @include mq(sm) {
                font-size: 20px;
                text-decoration: none;
            }

            &--green {
                text-align: center;
                background: $green;
            }
        }
    }
}
