mixin clients(spec)
    section.clients
        h2.clients__title confía en nosotros
        .clients__wrapper
            .clients__container
                .clients__logo
                    img(src="/images/home/logo-empresas-1.png")
                .clients__logo
                    img(src="/images/home/logo-empresas-2.png")
                .clients__logo
                    img(src="/images/home/logo-empresas-3.png")
                .clients__logo
                    img(src="/images/home/logo-empresas-4.png")
                .clients__logo
                    img(src="/images/home/logo-empresas-5.png")
                .clients__logo
                    img(src="/images/home/logo-empresas-6.png")
                .clients__logo
                    img(src="/images/home/logo-empresas-7.png")
                .clients__logo
                    img(src="/images/home/logo-empresas-8.png")
                .clients__logo
                    img(src="/images/home/logo-empresas-9.png")
                .clients__logo
                    img(src="/images/home/logo-empresas-10.png")
        .clients__group
            .clients__group-wrapper
                .clients__group-logo
                    img(src="/images/home/logo-clientes-2.png")
                .clients__group-logo
                    img(src="/images/home/logo-clientes-1.jpg")
                .clients__group-logo
                    img(src="/images/home/logo-clientes-3.png")
