mixin clients(spec)
    section.clients
        h2.clients__title confía en nosotros
        .clients__wrapper
            .clients__container
                .clients__logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__logo
                    img(src="https://picsum.photos/1440/900?image=1")
        .clients__group
            .clients__group-wrapper
                .clients__group-logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__group-logo
                    img(src="https://picsum.photos/1440/900?image=1")
                .clients__group-logo
                    img(src="https://picsum.photos/1440/900?image=1")
