extends ../_layouts/base

include ../_modules/reviews/reviews
include ../_modules/slider/slider
include ../_modules/clients/clients

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.servicios
        section.servicios__hero
            .servicios__background
                img(src="/images/home/hero-1.jpg")
            .servicios__content
                h1.servicios__title conoce nuestros servicios
        
        section.servicios__descripcion
            .servicios__descripcion__servicio
                .servicios__descripcion__background
                    img(src="/images/traslados/algarrobo.jpg")
                .servicios__descripcion__group
                    .servicios__descripcion__title Traslados turísticos
                    .servicios__descripcion__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .servicios__descripcion__wrapper
                        a.servicios__descripcion__link.servicios__descripcion__link--plain(href="/traslados-turisticos") más información
                        a.servicios__descripcion__link.servicios__descripcion__link--green(href="/traslados-turisticos") reserva online

            .servicios__descripcion__servicio.servicios__descripcion__servicio--right
                .servicios__descripcion__background
                    img(src="/images/home/hero-2.jpg")
                .servicios__descripcion__group
                    .servicios__descripcion__title.servicios__descripcion__title--right Traslados Corporativos
                    .servicios__descripcion__text.servicios__descripcion__text--right Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .servicios__descripcion__wrapper
                        a.servicios__descripcion__link.servicios__descripcion__link--plain(href="/traslados/corporativos") más información
                        a.servicios__descripcion__link.servicios__descripcion__link--green(href="/traslados/corporativos") reserva online

            .servicios__descripcion__servicio.servicios__descripcion__servicio--left
                .servicios__descripcion__background
                    img(src="/images/home/hero-3.jpg")
                .servicios__descripcion__group
                    .servicios__descripcion__title Traslados ejecutivos
                    .servicios__descripcion__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .servicios__descripcion__wrapper
                        a.servicios__descripcion__link.servicios__descripcion__link--plain(href="/traslados/ejecutivos") más información
                        a.servicios__descripcion__link.servicios__descripcion__link--green(href="/traslados/ejecutivos") reserva online

            .servicios__descripcion__servicio.servicios__descripcion__servicio--right
                .servicios__descripcion__background
                    img(src="/images/home/hero-4.jpg")
                .servicios__descripcion__group
                    .servicios__descripcion__title.servicios__descripcion__title--right Traslados al aeropuerto
                    .servicios__descripcion__text.servicios__descripcion__text--right Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .servicios__descripcion__wrapper
                        a.servicios__descripcion__link.servicios__descripcion__link--plain(href="/traslados/al-aeropuerto") más información
                        a.servicios__descripcion__link.servicios__descripcion__link--green(href="/traslados/al-aeropuerto") reserva online
        
        +reviews
        +clients
