extends _layouts/base

include ./_modules/slider/slider
include ./_modules/clients/clients
include ./_modules/ui-modal/ui-modal

block content
    main.home
        section.home__hero
            .home__hero__content(data-content="turistico")
                .home__hero__image
                    img(src="/images/home/hero-1.jpg")
                .home__hero__wrapper
                    h1.home__hero__title traslados turísticos
                    p.home__hero__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .home__hero__group
                        a.home__hero__link._button._button--light-ghost(href="/traslados-turisticos") más información
                        button.home__hero__link._button._button--green(data-modal="open") reservar fechas
            .home__hero__content(data-content="corporativo")
                .home__hero__image
                    img(src="/images/home/hero-2.jpg")
                .home__hero__wrapper
                    h1.home__hero__title traslados corporativos
                    p.home__hero__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .home__hero__group
                        a.home__hero__link._button._button--light-ghost(href="/traslados/corporativos/") más información
                        a.home__hero__link._button._button--green(href="/traslados/corporativos/#reserva") reservar fechas
            .home__hero__content(data-content="ejecutivo")
                .home__hero__image
                    img(src="/images/home/hero-3.jpg")
                .home__hero__wrapper
                    h1.home__hero__title traslados ejecutivos
                    p.home__hero__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .home__hero__group
                        a.home__hero__link._button._button--light-ghost(href="/traslados/ejecutivos") más información
                        a.home__hero__link._button._button--green(href="/traslados/ejecutivos/#reserva") reservar fechas
            .home__hero__content(data-content="aeropuerto")
                .home__hero__image
                    img(src="/images/home/hero-4.jpg")
                .home__hero__wrapper
                    h1.home__hero__title traslados al aeropuerto
                    p.home__hero__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .home__hero__group
                        a.home__hero__link._button._button--light-ghost(href="/traslados/al-aeropuerto") más información
                        a.home__hero__link._button._button--green(href="/traslados/al-aeropuerto/#reserva") reservar fechas
            .home__hero__tabs
                a.home__hero__tab(href="#" data-target="turistico")
                        i.fa.fa-umbrella
                        h3.home__hero__tab-title traslados turísticos
                a.home__hero__tab(href="#" data-target="corporativo")
                        i.fa.fa-bus
                        h3.home__hero__tab-title traslados corporativos
                a.home__hero__tab(href="#" data-target="ejecutivo")
                        i.fa.fa-car
                        h3.home__hero__tab-title traslados ejecutivos
                a.home__hero__tab(href="#" data-target="aeropuerto")
                        i.fa.fa-plane
                        h3.home__hero__tab-title traslados al aeropuerto
        
        section.home__about
            .home__about__column.home__about__column--right
                h2.home__about__title sobre nosotros
                .home__about__group.home__about__group--right
                    .home__about__wrapper
                        p.home__about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        p.home__about__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p.home__about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        a.home__about__link(href="#") Si quieres saber más sobre nosotros y formar parte de esta historia, sigue leyendo acá

            .home__about__column.home__about__column--left
                .home__about__group.home__about__group--left
                    .home__about__logo
                        img(src="/images/logo.png")
                    +slider("home__about__slider", "normal")
                        .home__about__slide
                            .home__about__image
                                img(src="/images/home/slider-1.jpg")
                        .home__about__slide
                            .home__about__image
                                img(src="/images/home/slider-2.jpg")
                    a(href="#").home__about__social
                        i.fa.fa-instagram
                        p.home__about__comment síguenos en instagram y enterate de nuestras promociones

        section.home__testimonios
            +slider("home__testimonios__slider", "alt")
                .home__testimonios__slide
                    .home__testimonios__slide-wrapper
                        .home__testimonios__slide-content
                            h3.home__testimonios__slide-title Clientes Satisfechos
                            .home__testimonios__slide-row
                                .home__testimonios__quoter
                                    img(src="https://picsum.photos/1440/900?image=1")
                                .home__testimonios__group
                                    p.home__testimonios__name 
                                        |José Pérez 
                                        strong Gerente de la Empresa
                                    p.home__testimonios__service
                                        strong Traslado a: 
                                        |Viña del Mar
                            p.home__testimonios__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    .home__testimonios__slide-image
                        img(src="/images/home/testimonios-1.jpg")
                .home__testimonios__slide
                    .home__testimonios__slide-wrapper
                        .home__testimonios__slide-content
                            h3.home__testimonios__slide-title Clientes Satisfechos
                            .home__testimonios__slide-row
                                .home__testimonios__quoter
                                    img(src="https://picsum.photos/1440/900?image=1")
                                .home__testimonios__group
                                    p.home__testimonios__name 
                                        |Pedro Pérez 
                                        strong Gerente de la Empresa
                                    p.home__testimonios__service
                                        strong Traslado a: 
                                        |Viña del Mar
                            p.home__testimonios__slide-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    .home__testimonios__slide-image
                        img(src="/images/home/testimonios-2.jpg")

        +clients

        +UiModal('true')
            h2.ui-modal__title Estos son los traslados turisticos que tenemos para ofrecerte
            .ui-modal__traslados-wrapper
                .ui-modal__traslado-container
                    .ui-modal__traslado-image
                        img(src="/images/traslados/buceo.jpg")
                    .ui-modal__wrapper
                        h3.ui-modal__traslado-title Clases de buceo
                        .ui-modal__group
                            a.ui-modal__link._button._button--dark-ghost(href="/traslados-turisticos/clases-de-buceo") Más Informacion
                            a.ui-modal__link._button._button--green(href="/traslados-turisticos/clases-de-buceo/#reserva") reservar
                .ui-modal__traslado-container
                    .ui-modal__traslado-image
                        img(src="/images/traslados/maipo.jpg")
                    .ui-modal__wrapper
                        h3.ui-modal__traslado-title Cajón del maipo
                        .ui-modal__group
                            a.ui-modal__link._button._button--dark-ghost(href="/traslados-turisticos/cajon-de-maipo") Más Informacion
                            a.ui-modal__link._button._button--green(href="/traslados-turisticos/cajon-de-maipo/#reserva") reservar
                .ui-modal__traslado-container
                    .ui-modal__traslado-image
                        img(src="/images/traslados/isla-negra.jpg")
                    .ui-modal__wrapper
                        h3.ui-modal__traslado-title isla negra
                        .ui-modal__group
                            a.ui-modal__link._button._button--dark-ghost(href="/traslados-turisticos/isla-negra") Más Informacion
                            a.ui-modal__link._button._button--green(href="/traslados-turisticos/isla-negra/#reserva") reservar
                .ui-modal__traslado-container
                    .ui-modal__traslado-image
                        img(src="/images/traslados/algarrobo.jpg")
                    .ui-modal__wrapper
                        h3.ui-modal__traslado-title algarrobo
                        .ui-modal__group
                            a.ui-modal__link._button._button--dark-ghost(href="/traslados-turisticos/algarrobo") Más Informacion
                            a.ui-modal__link._button._button--green(href="/traslados-turisticos/algarrobo/#reserva") reservar
                .ui-modal__traslado-container
                    .ui-modal__traslado-image
                        img(src="/images/traslados/monticello.jpg")
                    .ui-modal__wrapper
                        h3.ui-modal__traslado-title Casino monticello
                        .ui-modal__group
                            a.ui-modal__link._button._button--dark-ghost(href="/traslados-turisticos/casino-monticello") Más Informacion
                            a.ui-modal__link._button._button--green(href="/traslados-turisticos/casino-monticello/#reserva") reservar
                .ui-modal__traslado-container
                    .ui-modal__traslado-image
                        img(src="/images/traslados/city-tour.jpg")
                    .ui-modal__wrapper
                        h3.ui-modal__traslado-title City tour
                        .ui-modal__group
                            a.ui-modal__link._button._button--dark-ghost(href="/traslados-turisticos/city-tour") Más Informacion
                            a.ui-modal__link._button._button--green(href="/traslados-turisticos/city-tour/#reserva") reservar
